@using BashDataBaseModels
@model Session<BashDataBaseModels.User>
@{
    var theme = ViewData["Theme"] as Theme;
}

<div class="container">
    @if (theme == null)
    {
        <p>Данная тема отсутствует</p>
    }
    else
    {
        <div class="container">
            @if ((bool)ViewData["isAuthorized"] == true)
            {
                if ((bool)ViewData["isRead"] == false)
                {
                    <form method="post">
                        <button asp-route-id=@theme.ThemeId asp-controller="Theme" asp-action="MarkAsRead">Пометить прочитанным</button>
                    </form>
                }
                else
                {
                    <form method="post">
                        <button asp-route-id=@theme.ThemeId asp-controller="Theme" asp-action="MarkAsUnRead">Пометить не прочитанным</button>
                    </form>
                }
            }
        </div>
        <h1 class="theory_theme_header">@theme.Name</h1>
        <div class="theory_card">
            @foreach (var command in theme.Commands)
            {
                <h2 class="theory_command_header">@command.Text</h2>
                <div class="theory_description_container">
                    <p>@command.Description</p>
                </div>
                @if (command.Attributes.Any())
                {
                    <div class="theory_attributes_container ">
                        @foreach (var attr in command.Attributes)
                        {
                            <div class="theory_attribute_container">
                                <h2 class="theory_attribute_header">@attr.Text</h2>
                                <div class="theory_description_container">
                                    <p>@attr.Description</p>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    }
</div>