@using BashDataBaseModels
@using System.Reflection.Metadata
@using Microsoft.JSInterop
@using Site.Other
@model Session<BashDataBaseModels.User>
@{
    var theme = ViewData["Theme"] as Theme;
}

<script>
    // document.getElementById('terminalButton').addEventListener('click', function () {
    //     let console = document.getElementById('terminalConsole').value
    //    
    //     let text = console.value()
    //     console.log(text)
    // })
    
</script>
@* @if ((bool)ViewData["isAuthorized"]){ *@
@*         let a = document.getElementById("terminalButton") *@
@*     } *@
<div class="container">
    @if (theme == null)
    {
        <p>Данная тема отсутствует</p>
    }
    else
    {
        <div class="container">
            @if ((bool)ViewData["isAuthorized"])
            {
                if ((bool)ViewData["isRead"] == false)
                {
                    <form method="post">
                        <button asp-route-id=@theme.ThemeId asp-controller="Theme" asp-action="MarkAsRead">Пометить прочитанным</button>
                    </form>
                }
                else
                {
                    <form method="post">
                        <button asp-route-id=@theme.ThemeId asp-controller="Theme" asp-action="MarkAsUnRead">Пометить не прочитанным</button>
                    </form>
                }
            }
        </div>
        <h1 class="theory_theme_header">@theme.Name</h1>
        <div class="theory_card">
            @foreach (var command in theme.Commands)
            {
                <h2 class="theory_command_header">@command.Text</h2>
                <div class="theory_description_container">
                    <p>@command.Description</p>
                </div>
                @if (command.Attributes.Any())
                {
                    <div class="theory_attributes_container ">
                        <h3 class="theory_attributes_header">Атрибуты</h3>
                        @foreach (var attr in command.Attributes)
                        {
                            <div class="theory_attribute_container">
                                <h2 class="theory_attribute_header">@attr.Text</h2>
                                <div class="theory_description_container">
                                    <p>@attr.Description</p>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        </div>
        @if ((bool)ViewData["isAuthorized"])
        {
            <script src="/js/site.js"></script>
            @* <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script> *@
            <script src="/lib/jquery/dist/jquery.js"></script>
            <div class="terminal">
                @{
                    var ExecutorIP = (string)ViewData["BashExecutorIP"]; 
                }
                <textarea class="terminal-textarea" id="terminalConsole" ></textarea>
                <button class="terminal-execute-button"
                        id="terminalButton"
                        onclick="sendCommandToExecute('@ExecutorIP')">
                    Execute
                </button>
                @* asp-action="SendCommandExecuteRequest" asp-controller="BashExecute" *@
            </div>
        }
    }
</div>