@using DataModels;
@using System.Globalization
@using BashDataBase
@using Lib.DataBases
@using Microsoft.EntityFrameworkCore
@using System.Collections
@model HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
    var context = ViewData["Context"] as IDataContext;
    var themes = ViewData["Themes"] as List<Theme>;
    
}

<div class="cards-container" style="height: 200px; ">
    @foreach (var theme in themes)
    {
        <form method="get" class="card" id="@theme.ThemeId">
            @if (ViewData["History"] != null)
            {
                @if ((ViewData["History"] as IEnumerable<ExercisesHistory>)?.FirstOrDefault(e => e.Account == Model.Session.Account 
                                                 && e.Exercise.ThemeId == theme.ThemeId) != null)
                {
                    <img class="card-verifier" src="verifyIcon.png" alt="verifyIcon">
                }
            }
            <h2>@theme.Name</h2>
            <a>Количество команд: @theme.Commands.Count</a>
            <p>Изменено: @theme.UpdatedUTC.ToLocalTime().ToString(CultureInfo.GetCultureInfo("ru-RU"))</p>
            <a class="card-hyper-text" asp-route-id="@theme.ThemeId" asp-controller="Theme" asp-action="ReadTheme">Читать</a>
        </form>
    }
</div>