@model IEnumerable<BashDataBaseModels.Admin>

@{
    ViewData["Title"] = "Администраторы";
    ViewData["Create"] = "Добавить";
}
<a class="create" asp-action="Create">@ViewData["Create"]</a>
<div class="table-container">
    <h1 class="table-header">@ViewData["Title"]</h1>

    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedUTC)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUTC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedUTC)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AdminId">Изменить</a>
                    <a asp-action="Details" asp-route-id="@item.AdminId">Детали</a>
                    <a asp-action="Delete" asp-route-id="@item.AdminId">Удалить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>