@model IEnumerable<BashDataBaseModels.Admin>

@{
    ViewData["Title"] = "Index";
}

<h1>Администраторы</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedUTC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsActual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUTC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedUTC)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdminId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdminId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdminId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
