@model IEnumerable<BashDataBaseModels.Command>

@{
    ViewData["Title"] = "Команды";
    ViewData["Create"] = "Добавить";
}

<a class="create" asp-action="Create">@ViewData["Create"]</a>
<div class="table-container">
    <h1 class="table-header">@ViewData["Title"]</h1>

    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedUTC)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Theme.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUTC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedUTC)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CommandId">Изменить</a>
                    <a asp-action="Details" asp-route-id="@item.CommandId">Детали</a>
                    <a asp-action="Delete" asp-route-id="@item.CommandId">Удалить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>