@model IEnumerable<BashDataBaseModels.Command>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedUTC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Theme.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUTC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedUTC)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CommandId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CommandId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CommandId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
